* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.examples {
  height: 100vh;
  width: 100vw;
}

.examples > .container {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  background-color: white;
}
.examples > .container > div {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 0.5rem;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}
.examples > .container > ol {
  padding-inline-start: 1rem;
  border: 1px solid green;
}

.content {
  font-size: 2rem;
}

h1 {
  font-size: 2.15rem;
  font-weight: bold;
  padding: 1rem 0;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

.react-tabs {
  height: 100%;
}

.trd-page {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 255, 0.1);
  padding: 0.65rem;
}

.trd-page__content {
  display: flex;
  flex-direction: row;
}

.trd-example,
.trd-demo {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.trd-example {
  background-color: lightblue;
}
.trd-demo {
  background-color: lightcoral;
}
